<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hotel_management.Properties.Settings.QL_KSConnectionString"
            connectionString="Data Source=DESKTOP-BRQK3RI\SQLEXPRESS;Initial Catalog=QL_KS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="hotel_management.Properties.Settings.QLKSConnectionString"
            connectionString="Data Source=DESKTOP-BRQK3RI\SQLEXPRESS;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>